<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tdExit"
        version="0.0.1">
    
    <name>TDExit</name>
    
    <description>This plugin for Cordova</description>
    
    <keywords>Cordova</keywords>
    
    <repo>https://github.com/terrydr/com.terrydr.exit.git</repo>
    <issue>https://github.com/terrydr/com.terrydr.exit.git</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/TDExit.js" name="TDExit">
        <clobbers target="tdExit" />
    </js-module>
    
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="TDExit">
                <param  name="ios-package"  value="TDExit"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/TDExit.m" />
        <header-file src="src/ios/TDExit.h" />
        <source-file src="src/ios/TDExitObj.m" />
        <header-file src="src/ios/TDExitObj.h" />
    </platform>
    
	<platform name="android">
        <config-file  target="res/xml/config.xml" parent="/*">
            <feature  name="TDExit">
                <!--JREye:继承CDVPlugin的类名 -->
                <param  name="android-package"  value="com.terrydr.exitapp.ExitAPP_plugin_intent"/>
            </feature>
        </config-file>
		<source-file src="src/android/com/terrydr/exitapp/ExitAPP_plugin_intent.java"
                     target-dir="src/com/terrydr/exitapp"/>					 
    </platform>
</plugin>
